# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
countonly
truncations
onetruncation
alltruncations
hasse-stg
debug/truncations
debug/countonly
test/*test
test/perf-link
test/perf-nothrow
test/perf-throw


# generated TeX and auxiliaries
output.*
*.pdf
*.aux
*.log
*.tex

.*.swp
*.dSYM
